.ImgHeader{
    width: 50px;
    height: 50px;
}

.imgAvatar {
    width: 200px;
    height: 200px;
    margin-top: -60px;
}

.imgCard {
    width: 70px;
    height: 70px;
}

.infoCard {
    margin-top: -10px;
}

.filtro {
    right: 100px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.btn-exportar {
    margin-top: -130px; 
    margin-left: 30px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.btn-filter {
    margin-right: 10px; 
}

.saida {
    color:red !important
}

.card {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.entrada {
    color:green !important
}

.copy {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* .card {
    border-radius: 5px;
    padding: 1px;
    box-shadow: 0px 2px 10px rgba(255, 89, 89, 0.1);
} */

.fixed-button {
    position: absolute;
    bottom: 15px; 
    right: 250px;  
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}


.table {
    width: 98%; 
    margin: 0 auto;
    padding: 5px;
    background: #fff; 
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #ccc;
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
}

h6 {
    font-family: Arial, Helvetica, sans-serif;
}
